* {
  margin: 0px;
  padding: 0px;
}

:root {
  --font-display: serif;
  --font-paragraph: sans-serif;
}

body {
  background-color: var(--white);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: BebasNeue-Regular;
  src: url(BebasNeue-Regular.ttf);
}

@font-face {
  font-family: SofiaSansSemiCondensed-BoldItalic;
  src: url(Sofia_Sans_Semi_Condensed/static/SofiaSansSemiCondensed-BoldItalic.ttf);
}

@font-face {
  font-family: SofiaSansSemiCondensed-ExtraBold;
  src: url(Sofia_Sans_Semi_Condensed/static/SofiaSansSemiCondensed-ExtraBold.ttf);
}

@font-face {
  font-family: SofiaSansSemiCondensed-Medium;
  src: url(Sofia_Sans_Semi_Condensed/static/SofiaSansSemiCondensed-Medium.ttf);
}

@font-face {
  font-family: SofiaSansSemiCondensed-Regular;
  src: url(Sofia_Sans_Semi_Condensed/static/SofiaSansSemiCondensed-Regular.ttf);
}

html {
  --x-stra_white: #f2f2f2;
  --white: #f3f6fe;
  --black: #393e40;
  --red: #f26b83;
  --blue: #1872e7;
}

h1 {
  font-size: 10rem;
  font-family: BebasNeue-Regular;
}

h2 {
  font-size: 4rem;
  font-family: SofiaSansSemiCondensed-ExtraBold;
}

h3 {
  font-family: SofiaSansSemiCondensed-BoldItalic;
  font-size: 3rem;
}

h4 {
  font-family: SofiaSansSemiCondensed-Regular;
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  color: var(--black);
}

p {
  max-width: 60ch;
  color: var(--black);
  font-family: SofiaSansSemiCondensed-Medium;
  font-size: 1.5rem;
}

p.small {
  color: var(--black);
  font-family: SofiaSansSemiCondensed-Medium;
  font-size: 1rem;
}

header {
  padding: 6rem;
}

section {
  padding: 0rem 2rem;
}

#samples > h1 {
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

.one_two_grid {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

.one_one_one_grid {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.inline {
  display: inline;
}

.p_emphasize {
  color: var(--white);
}

.display {
  font-family: SofiaSansSemiCondensed-ExtraBold;
}

.paragraph {
  color: var(--blue);
  font-family: SofiaSansSemiCondensed-BoldItalic;
}

.small_space {
  height: 2rem;
}

.space {
  height: 4rem;
}

.card_1,
.card_2,
.card_3 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: #f7f7fa;
  box-shadow: 10px 5px 10px #8888884a;
  border-radius: 10px;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.card_1 > h2,
.card_2 > h3,
.card_3 > h4 {
  padding-bottom: 2rem;
}

.card_1 > h2 {
  line-height: 4rem;
  color: var(--red);
}

.card_2 > h3 {
  color: var(--blue);
}

.single_word {
  font-family: SofiaSansSemiCondensed-BoldItalic;
  color: var(--blue);
}

.paragraph_block {
  border-radius: 10px;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: var(--red);
}

.psmall_block {
  background-color: var(--blue);
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 10px;
}
.psmall_block > p {
  font-size: 1.2rem;
  color: var(--white);
}
